[Desktop Entry]
Encoding=UTF-8
Name=Link to LinkinWiki
Type=Link
URL=http://linux.linti.unlp.edu.ar/index.php?title=P%C3%A1gina_principal
Icon=text-html
